[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
tortoise = "*"
aerich = "*"
python-decouple = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-watch = "==2.0.0"
black = "*"
isort = "*"
requests = "*"
flake8 = "*"
faker = "*"

[requires]
python_version = "3.9"
